@import "tailwindcss";


:root {
  --background: #fff;
  --foreground: #171717;
  --color-orange: #ff9800;
  --color-green: #388e3c;
  --color-white: #fff;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.indian-flag {
  background: linear-gradient(90deg, var(--color-orange) 33%, var(--color-white) 33% 66%, var(--color-green) 66%);
  height: 16px;
  width: 100%;
  margin-bottom: 2rem;
}